{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<body>
    <h1>Home</h1>
    <h2>ユーザー名：{{user.username}}</h2>
    <p><a href="{% url 'tweets:create' %}">ツイートする！</a></p>

    <h2>投稿一覧</h2>
    {% for i in tweet_list %}
    <div>
        <a href="{% url 'accounts:profile' i.user.username %}">{{i.user.username}}</a>
        <p>{{i.created_at}}</p>
        <p>{{i.content}}
            <a><a href="{% url 'tweets:detail' i.pk %}">詳細</a>
        </p>
    </div>
    {% endfor %}
    </div>



</body>
{% endblock %}
