{% load static %}
<!doctype html>
<html lang="ja">

<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <b>MENU</b>
    {% if request.user.is_authenticated %}
    <div id="sidebar">
        <ul>
            <li><a href="/tweets/home/">Home</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'accounts:profile' user.username %}">Profile</a></li>
        </ul>
        <ul>
            <li><a href="/accounts/logout/">Logout</a></li>
        </ul>
    </div>
    {% else %}
    <div id="sidebar">
        <ul>
            <li><a href="/accounts/signup/">Signup</a></li>
        </ul>
        <ul>
            <li><a href="/accounts/login/">Login</a></li>
        </ul>
    </div>
    {% endif %}
    {% for message in messages %}
    <div {% if message.tags %}class="{{ message.tags }}" {% endif %}>
        通知：{{ message }}
    </div>
    {% endfor %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>

</html>
